registry=https://ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/registry/
always-auth=true
strict-ssl=false
force=false
NODE_EXTRA_CA_CERTS=./certs/tfsroot.cer

; Start des Authentifizierungstokens
//ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/registry/:username=fisbox
//ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/registry/:_password=cG1iaW93NGJjaGh3cmdneGFreTN4YTZiZTVoem1vd290dmRvbzNob3d5aWJzZTI1eXY3YQ==
//ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/registry/:email=fisbox-kernentwicklung@hzd.hessen.de
//ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/:username=fisbox
//ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/:_password=cG1iaW93NGJjaGh3cmdneGFreTN4YTZiZTVoem1vd290dmRvbzNob3d5aWJzZTI1eXY3YQ==
//ado.intern.hessen.de/FISBOX/_packaging/FISBOXKern-npm/npm/:email=fisbox-kernentwicklung@hzd.hessen.de
; Ende des Authentifizierungstokens
