//$kendo-enable-color-system: true; // Schaltet die CSS-Farb-Variablen ein und das automatische Light/Dark Theming via SASS-Variablen aus.
$primary-palette-name: indigo;
$secondary-palette-name: pink;
$adjust-contrast: true;
$kendo-enable-focus-contrast: true;
//$kendo-enable-typography: true;

$kendo-font-size: 1rem !default;       // 16px
$kendo-font-size-xs: 0.75rem !default; // 12px
$kendo-font-size-sm: 0.875rem !default;// 14px
$kendo-font-size-md: $kendo-font-size !default;
$kendo-font-size-lg: 1.125rem !default;// 18px
$kendo-font-size-xl: 1.375rem !default;// 22px

$kendo-spacing: (
    0: 0,
    1px: 1px,
    0.5: 0.125rem,
    1: 0.25rem,
    1.5: 0.375rem,
    2: 0.5rem,
    2.5: 0.625rem,
    3: 0.75rem,
    3.5: 0.875rem,
    4: 1rem,
    4.5: 1.125rem,
    5: 1.25rem,
    5.5: 1.375rem,
    6: 1.5rem,
    6.5: 1.625rem,
    7: 1.75rem,
    7.5: 1.875rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
    13: 3.25rem,
    14: 3.5rem,
    15: 3.75rem,
    16: 4rem,
    17: 4.25rem,
    18: 4.5rem,
    19: 4.75rem,
    20: 5rem,
    21: 5.25rem,
    22: 5.5rem,
    23: 5.75rem,
    24: 6rem,
);

@import "components/button/variables";
@import "components/drawer/variables";
